### Dependencies
node_modules/

### Next.js build output
.next/
out/
.vercel/

### Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

### Environment files
.env*

### OS/Editor cruft
.DS_Store
tmp/
.idea/
.vscode/

### TypeScript build info
*.tsbuildinfo
